div.pusher
    div.ui.purple.inverted.vertical.masthead.center.aligned.segment
        div.ui.container
        div.ui.text.container
            h1.ui.inverted.header #{__('Why')}
            h2 #{__('should I convert my `ejs`/`html` to `jade`/`pug`?')}
            p #{__('`EJS` is simple but stupid, it doesn\'t have layout. Don\'t use it, use `jade/pug` instead. It\'s elegant and fast for developing.')}
            p #{__('`Html` is good for browser to render, but it\'s silly for coding. `jade/pug` helps you not getting lost in the messy tags.')}